@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

.main {
    overflow-x: hidden;
}

section {
    margin-bottom: 100px;
}

.name {
    text-align: center;
}


/*HEAD*/

.topheader {
    width: 100%;
    height: 100px;
    z-index: 99999;
    position: fixed;
    background: white;
    transition: 0.3s;
}

.head {
    display: flex;
    justify-content: space-between;
}

.burger {
    height: 32px;
    width: 50px;
    margin-top: 32px;
    cursor: pointer;
}

.burger span {
    position: absolute;
    height: 4px;
    width: 50px;
    background-color: black;
}

.burger span::after,
.burger span::before {
    position: absolute;
    content: '';
    height: 4px;
    width: 50px;
    background-color: black;
    transition: transform .3s, top .3s;
}

.burger span::after {
    top: 16px;
}

.burger span::before {
    top: 32px
}

.menu {
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .3s;
    background-color: #373434;
    height: 100vh;
    width: 400px;
    color: white;
    z-index: 2;
}

.active {
    transform: scaleX(1);
}

.menu ul {
    margin-top: 100px;
    list-style-type: none;
}

.menu li {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: left;
    color: #B8BBBA;
    margin-bottom: 10px;
    margin-right: 40px;
    cursor: pointer;
}

.menu li:nth-child(2),
.menu li:nth-child(3),
.menu li:nth-child(4),
.menu li:nth-child(5),
.menu li:nth-child(6) {
    border-top: 2px solid #535052;
}

.krst {
    position: absolute;
    width: 34px;
    height: 32px;
    left: 338px;
    top: 36px;
    cursor: pointer;
}

.krest {
    position: absolute;
    height: 4px;
    width: 42px;
    transform: rotate(43deg);
    background-color: white;
    top: 14px;
    left: -4px;
}

.krest::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 42px;
    transform: rotate(-86deg);
    background-color: white;
    transition: transform .3s, top .3s;
}

.account {
    margin-top: 26px;
    cursor: pointer;
}

.account-login {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -10%);
    height: 615px;
    width: 548px;
    background: linear-gradient(180deg, #7478FD 0%, #AF23F0 100%), #FFFFFF;
    border-radius: 15px;
    z-index: 2;
}

.border-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: lightgrey;
    top: 100px;
    left: 0;
}


/*Start section*/

.back {
    margin-top: 100px;
    object-fit: cover;
    width: 100%;
    height: 95vh;
}

.banner>.container {
    position: relative;
}

.banner .content {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 58.02%;
    height: 100%;
}

.content .top {
    display: flex;
    justify-content: space-between;
}

.banner .text {
    font-style: normal;
    font-weight: bold;
    color: #000000;
}

@media (max-width: 1400px) {
    .phone {
        height: 550px;
    }
    .main .content {
        top: 12%;
    }
    .banner .comment {
        top: 270px;
    }
}

@media (min-width: 1400px) {
    .phone {
        height: 600px;
        padding-left: 100px;
    }
    .main .content {
        top: 19%;
    }
    .banner .comment {
        top: 270px;
    }
}

@media (max-width: 1000px) {
    .phone {
        display: none;
    }
}

@media (min-width: 1000px) {
    .phone {
        padding-left: 100px;
    }
    .banner .text {
        font-size: 45px;
        line-height: 70px;
    }
    .ostav {
        width: 480px;
        height: 80px;
        top: 450px;
    }
    .ostav p {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .banner .text {
        position: absolute;
        left: calc(10% / 2);
        font-size: 43px;
        line-height: 50px;
    }
    .banner .comment {
        position: absolute;
        left: calc(10% / 2);
        top: 200px;
    }
    .ostav {
        width: 90%;
        height: 65px;
        top: 350px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .ostav p {
        font-size: 16px;
        line-height: 23px;
        text-align: center;
    }
}

.banner .comment {
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 46px;
    padding-top: 30px;
    /* identical to box height */
    color: #000000;
}

.ostav {
    position: absolute;
    background-color: #5F2EEA;
    border-radius: 10px;
}

.ostav p {
    position: absolute;
    color: white;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/*advantages section*/

.advantages .col-sm {
    margin-top: 25px;
}

.img-svg {
    text-align: center;
}

.name-col {
    text-align: center;
}

.content-col {
    text-align: center;
}

.last-img {
    margin-bottom: -28px;
}


/* About us section*/

.about-us p {
    margin-top: 35px;
    font-size: 25px;
    line-height: 27px;
    color: #000000;
}

.color {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 82px;
    color: #5F2EEA;
}


/* partner section */

.partner .content {
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 50px;
}

.partner a {
    text-decoration: none;
}

@media (min-width: 992px) {
    .partner p {
        font-size: 40px;
    }
}

@media (max-width: 992px) {
    .partner p {
        font-size: 29px;
    }
}

.partner p {
    font-style: normal;
    font-weight: bold;
    line-height: 59px;
    text-align: center;
    transition: text-shadow 1s;
    color: gray;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.samsung:hover {
    color: #034EA2;
}

.bosh:hover {
    color: #ED1C24;
}

.siemens:hover {
    color: #009999;
}

.zelmer:hover {
    color: #012A7D;
}

.redmond:hover {
    color: #ED1D25;
}

.ericsson:hover {
    color: #002661;
}

.telefunken:hover {
    color: #EC3429;
}

.panasonic:hover {
    color: #0142C0;
}

.gagenau:hover,
.sony:hover,
.bbk:hover {
    color: #000000;
}

.neef:hover {
    color: #B60030;
}

.lg:hover {
    color: #6B6B6B;
}

.samsung:hover,
.bosh:hover,
.siemens:hover,
.zelmer:hover,
.redmond:hover,
.ericsson:hover,
.telefunken:hover,
.panasonic:hover,
.gagenau:hover,
.sony:hover,
.bbk:hover,
.neef:hover,
.lg:hover {
    text-shadow: none;
}


/* obrat-svaz section*/

.toggle {
    display: flex;
    justify-content: center;
    width: 100%;
}

.toggle p {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.checkbox-ios {
    display: inline-block;
    line-height: 28px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 5px;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    user-select: none;
}

.checkbox-ios .checkbox-ios-switch {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 56px;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 25%/50%;
    vertical-align: top;
    background: #eee;
    transition: .2s;
}

.checkbox-ios .checkbox-ios-switch:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    transition: .15s;
}

.checkbox-ios input[type=checkbox] {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox-ios input[type=checkbox]:not(:disabled):active+.checkbox-ios-switch:before {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}

.checkbox-ios input[type=checkbox]:checked+.checkbox-ios-switch {
    background: #5F2EEA;
}

.checkbox-ios input[type=checkbox]:checked+.checkbox-ios-switch:before {
    transform: translateX(28px);
}


/* Hover */

.checkbox-ios input[type="checkbox"]:not(:disabled)+.checkbox-ios-switch {
    cursor: pointer;
    border-color: rgba(0, 0, 0, .3);
}


/* Disabled */

.checkbox-ios input[type=checkbox]:disabled+.checkbox-ios-switch {
    filter: grayscale(70%);
    border-color: rgba(0, 0, 0, .1);
}

.checkbox-ios input[type=checkbox]:disabled+.checkbox-ios-switch:before {
    background: #eee;
}


/**/

.textinput {
    margin: 40px 0;
}

.obrat-svaz form p {
    font-size: 25px;
    font-weight: 700;
    color: #696969;
    margin-bottom: 5px;
}

.obrat-svaz span {
    color: #f6744b;
    margin-left: 5px;
}

.textinput input {
    border: 0;
    border-bottom: 1px solid #cacaca;
    width: 90%;
    height: 40px;
    outline: 0;
}

#name {
    margin-bottom: 30px;
}

.list {
    background-color: #5F2EEA;
    transform: scaleY(0);
    transform-origin: 0 0;
    width: 90%;
    transition: all .3s;
    color: whitesmoke;
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
    line-height: 35px;
}

.second:hover .list {
    transform: scaleY(1);
}

@media (max-width:576px) {
    .submit {
        width: 230px;
    }
}

@media (min-width: 576px) {
    .submit {
        width: 480px;
    }
}

.submit {
    /* Кнопка отправки формы */
    height: 50px;
    letter-spacing: 1px;
    /* Межсимвольный интервал */
    background: #5F2EEA;
    border: 2px solid #5F2EEA;
    border-radius: 10px;
    color: #fff;
    display: block;
    margin: 0px auto 0;
    font-weight: 700;
    text-transform: uppercase;
}

.submit:hover {
    color: #5F2EEA;
    transition: 0.5s;
    background: whitesmoke;
}


/*office section*/

.office .name {
    margin-bottom: 20px;
}

.office {
    margin-bottom: 0;
}


/* footer */

footer {
    margin-top: 0;
    background-color: #000000;
    width: 100%;
    height: 170px;
    top: 0;
}

footer .img-footer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 15px;
}

footer .number {
    position: absolute;
    margin-top: 110px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
}


/* Account */

.account-login .name {
    color: white;
    margin-top: 50px;
}

.login {
    position: absolute;
    width: calc(91% - 41px) !important;
    left: 52.7%;
    transform: translate(-50%, 0);
    outline: 0;
    border: 0;
    background-color: transparent;
    color: white;
}

.login::placeholder {
    color: white;
}

.svg-nm {
    position: absolute;
    margin-top: 11px;
    margin-left: 31.5px;
}

.border-ln-1 {
    position: absolute;
    width: 30px;
    height: 1px;
    margin-top: 38.5px;
    margin-left: 30px;
    background-color: #c9c3e0;
}


/**/

.password {
    position: absolute;
    width: calc(91% - 41px) !important;
    margin-top: 86px;
    left: 52.7%;
    transform: translate(-50%, 0);
    outline: 0;
    border: 0;
    background-color: transparent;
    color: white;
}

.password::placeholder {
    color: white;
}

.svg-ps {
    position: absolute;
    margin-top: 97px;
    margin-left: 31.5px;
}

.border-ln-2 {
    position: absolute;
    width: 30px;
    height: 1px;
    margin-top: 124.5px;
    margin-left: 30px;
    background-color: #c9c3e0;
}

.know-me {
    position: absolute;
    margin-top: 149.5px;
    margin-left: 35px;
}

.know-me-txt {
    position: absolute;
    margin-top: 144px;
    margin-left: 60px;
    color: white;
}