@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

.main {
    overflow-x: hidden;
}

section {
    margin-bottom: 100px;
}

.name {
    text-align: center;
}


/*HEAD*/

.topheader {
    width: 100%;
    height: 100px;
    z-index: 99999;
    position: fixed;
    background: white;
    transition: 0.3s;
}

.head {
    display: flex;
    justify-content: space-between;
}

.burger {
    height: 32px;
    width: 50px;
    margin-top: 50px;
}

.burger span {
    position: absolute;
    height: 4px;
    width: 50px;
    background-color: black;
}

.burger span::after,
.burger span::before {
    position: absolute;
    content: '';
    height: 4px;
    width: 50px;
    background-color: black;
    transition: transform .3s, top .3s;
}

.burger span::after {
    top: 16px;
}

.burger span::before {
    top: -16px
}

.account {
    margin-top: 26px;
}

.border-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: lightgrey;
    top: 100px;
    left: 0;
}


/*Start section*/

.back {
    margin-top: 100px;
    object-fit: cover;
    width: 100%;
    height: calc(100vh - 100px);
}

.banner>.container {
    position: relative;
}

.banner .content {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 58.02%;
    height: 100%;
}

.content .top {
    display: flex;
    justify-content: space-between;
}

.banner .text {
    font-style: normal;
    font-weight: bold;
    color: #000000;
}

@media (max-width: 1400px) {
    .phone {
        height: 550px;
    }
    .main .content {
        top: 17%;
    }
    .banner .comment {
        top: 270px;
    }
}

@media (min-width: 1400px) {
    .phone {
        height: 600px;
        padding-left: 100px;
    }
    .main .content {
        top: 19%;
    }
    .banner .comment {
        top: 270px;
    }
}

@media (max-width: 1000px) {
    .phone {
        display: none;
    }
}

@media (min-width: 1000px) {
    .phone {
        padding-left: 100px;
    }
    .banner .text {
        font-size: 45px;
        line-height: 70px;
    }
    .ostav {
        width: 480px;
        height: 80px;
        top: 450px;
    }
    .ostav p {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .banner .text {
        position: absolute;
        left: calc(10% / 2);
        font-size: 43px;
        line-height: 50px;
    }
    .banner .comment {
        position: absolute;
        left: calc(10% / 2);
        top: 240px;
    }
    .ostav {
        width: 90%;
        height: 65px;
        top: 400px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .ostav p {
        font-size: 16px;
        line-height: 23px;
        text-align: center;
    }
}

.banner .comment {
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 46px;
    padding-top: 30px;
    /* identical to box height */
    color: #000000;
}

.ostav {
    position: absolute;
    background-color: #5F2EEA;
    border-radius: 10px;
}

.ostav p {
    position: absolute;
    color: white;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/*advantages section*/

.advantages .col-sm {
    margin-top: 25px;
}

.img-svg {
    text-align: center;
}

.name-col {
    text-align: center;
}

.content-col {
    text-align: center;
}

.last-img {
    margin-bottom: -28px;
}


/* About us section*/

.about-us p {
    margin-top: 35px;
    font-size: 25px;
    line-height: 27px;
    color: #000000;
}

.color {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 82px;
    color: #5F2EEA;
}


/* partner section */

.partner .content {
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 50px;
}

.partner a {
    text-decoration: none;
}

.partner p {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 59px;
    text-align: center;
    transition: text-shadow 1s;
    color: transparent;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.samsung:hover {
    color: #034EA2;
}

.bosh:hover {
    color: #ED1C24;
}

.siemens:hover {
    color: #009999;
}

.zelmer:hover {
    color: #012A7D;
}

.redmond:hover {
    color: #ED1D25;
}

.ericsson:hover {
    color: #002661;
}

.telefunken:hover {
    color: #EC3429;
}

.panasonic:hover {
    color: #0142C0;
}

.gagenau:hover,
.sony:hover,
.bbk:hover {
    color: #000000;
}

.neef:hover {
    color: #B60030;
}

.lg:hover {
    color: #6B6B6B;
}

.samsung:hover,
.bosh:hover,
.siemens:hover,
.zelmer:hover,
.redmond:hover,
.ericsson:hover,
.telefunken:hover,
.panasonic:hover,
.gagenau:hover,
.sony:hover,
.bbk:hover,
.neef:hover,
.lg:hover {
    text-shadow: none;
}