@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

.main {
    overflow-x: hidden;
}


/*HEAD*/

.topheader {
    width: 100%;
    height: 100px;
    z-index: 4;
    position: fixed;
    background: white;
    transition: 0.3s;
    top: 0;
}

.head {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }
}

.burger {
    height: 32px;
    width: 50px;
    margin-top: 32px;
    cursor: pointer;
}

.burger span {
    position: absolute;
    height: 4px;
    width: 50px;
    background-color: black;
}

.burger span::after,
.burger span::before {
    position: absolute;
    content: '';
    height: 4px;
    width: 50px;
    background-color: black;
    transition: transform .3s, top .3s;
}

.burger span::after {
    top: 16px;
}

.burger span::before {
    top: 32px
}

.menu {
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .3s;
    background-color: #373434;
    height: 100vh;
    width: 400px;
    color: white;
    z-index: 2;
}

.active {
    transform: scaleX(1);
}

.menu ul {
    margin-top: 100px;
    list-style-type: none;
}

.menu li {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: left;
    color: #B8BBBA;
    margin-bottom: 10px;
    margin-right: 40px;
    cursor: pointer;
}

.menu li:nth-child(2),
.menu li:nth-child(3),
.menu li:nth-child(4),
.menu li:nth-child(5),
.menu li:nth-child(6) {
    border-top: 2px solid #535052;
}

.krst {
    position: absolute;
    width: 34px;
    height: 32px;
    left: 338px;
    top: 36px;
    cursor: pointer;
}

.krest {
    position: absolute;
    height: 4px;
    width: 42px;
    transform: rotate(43deg);
    background-color: white;
    top: 14px;
    left: -4px;
}

.krest::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 42px;
    transform: rotate(-86deg);
    background-color: white;
    transition: transform .3s, top .3s;
}

.account {
    margin-top: 26px;
    cursor: pointer;
}

.account-login {
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    height: 615px;
    width: 548px;
    background: linear-gradient(180deg, #7478FD 0%, #AF23F0 100%), #FFFFFF;
    border-radius: 15px;
    z-index: 2;
}

.border-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: lightgrey;
    top: 100px;
    left: 0;
}

.user {
    margin-top: 33px;
    cursor: pointer;
}

.user-name {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
}

.user-img {
    margin-left: 10px !important;
    margin-top: -9px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
}

.menu-user {
    position: absolute;
    background-color: #FFFFFF;
    border: 2px solid #A6A6A6;
    z-index: 3;
    border-radius: 10px;
    margin-left: -9px;
    width: 164px;
}

.log-out {
    color: #ED1D25;
    padding-top: 10px;
    margin-bottom: 0;
}

.menu-user ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 7px;
    font-size: 19px;
    line-height: 27px;
}

.menu-user li {
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-user li a {
    text-decoration: none;
    color: black;
}

.menu-user li p:nth-child(1) {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
}


/* Main */

.main_inf .container {
    background-color: #ECEEF2;
    margin-top: 120px;
    border-radius: 50px;
}

.account-img {
    border-radius: 50%;
}

.no-img {
    height: 250px;
    width: 250px;
    font-size: 170px;
    background: #f6f5f3;
    border: 2px solid #D9D9D9;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.add-img {
    display: flex;
    justify-content: center;
}

.image {
    max-width: 280px;
}

.content {
    padding-top: 75px;
    padding-left: 40px;
}

.information {
    padding-top: 30px;
    padding-bottom: 75px;
}

.name h1,
.name h2 {
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
}

.email_phone {
    margin-top: 80px;
}

.email_phone p {
    margin-bottom: 7px;
}

.password {
    margin-top: 30px;
}


/* windows */

@media (max-width: 991px) {
    .upload-img {
        width: 85%;
        height: 80%;
    }
    .drag-area {
        width: 70%;
        width: 80%;
    }
}

.upload-img {
    position: absolute;
    height: 600px;
    width: 800px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #5256ad;
    z-index: 4;
    border-radius: 20px;
}

.drag-area {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed #fff;
    height: 400px;
    width: 600px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    z-index: 5;
}

.drag-area.active {
    border: 2px solid #fff;
}

.drag-area .icon {
    font-size: 100px;
    color: #fff;
}

.drag-area header {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
}

.drag-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.submit {
    position: absolute;
    left: 50%;
    bottom: 6%;
    transform: translate(-50%, 0);
}

.drag-area .krst {
    right: 10px;
    top: 0;
    left: auto;
    cursor: pointer;
}


/* Login */

@media (max-width: 575px) {
    .account-login {
        width: 90vw;
        height: 90vh;
    }
    .forgot {
        font-size: 14px;
    }
    .sign_up {
        font-size: 14px;
    }
}

.account {
    margin-top: 26px;
    cursor: pointer;
}

.account-login {
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    height: 615px;
    width: 548px;
    background: url(../images/Frame1.png);
    border-radius: 15px;
    z-index: 2;
}

.account-login .row {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.account-login .name {
    color: white;
    margin-top: 50px;
}

.name {
    text-align: center;
}

.textinput {
    margin: 40px 0;
}

.textinput input {
    border: 0;
    border-bottom: 1px solid #cacaca;
    width: 90%;
    height: 40px;
    outline: 0;
    border-radius: 0;
}

.name-polz {
    width: 100% !important;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: white;
}

.name-polz::placeholder {
    color: white;
}

.surname {
    width: 100% !important;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: white;
}

.surname::placeholder {
    color: white;
}

.svg-nm {
    position: absolute;
    margin-top: 11px;
    margin-left: 31.5px;
}

.border-ln-1 {
    position: absolute;
    width: 30px;
    height: 1px;
    margin-top: 39px;
    margin-left: 30px;
    background-color: #c9c3e0;
}

.login {
    width: calc(91% - 41px) !important;
    margin-left: 60px;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: white;
}

.login::placeholder {
    color: white;
}

.svg-ps {
    position: absolute;
    margin-top: 41px;
    margin-left: 31.5px;
}

.border-ln-2 {
    position: absolute;
    width: 30px;
    height: 1px;
    margin-top: 69px;
    margin-left: 30px;
    background-color: #c9c3e0;
}

.password {
    width: calc(91% - 41px) !important;
    margin-top: 30px;
    margin-left: 60px;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: white;
}

.password::placeholder {
    color: white;
}

.warning {
    text-align: center;
    margin-bottom: 5px;
    margin-top: -20px;
}

.know-me {
    margin-left: 35px;
}

.know-me-txt {
    margin-top: -25px;
    margin-left: 60px;
    color: white;
}

.log-in {
    display: flex;
    width: 184px;
    height: 46px;
    border-radius: 25px;
    background-color: white;
    margin-top: 30px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.log-in p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: 620;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.forgot {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);
    color: #FFFFFF;
    cursor: pointer;
}

.sign_up {
    position: absolute;
    left: 50%;
    bottom: 3px;
    transform: translate(-50%, 0);
    color: #FFFFFF;
    cursor: pointer;
}


/* End login */